* {
	padding: 0;
	margin: 0;
}

body {
    background-color: white;
}

#menu {
	background-color: black;
	height: 50px;
}

#menu ul{
	margin: 0px;
	padding: 0px;
	float: right;
}

#menu ul li{
	list-style-type:none;
	min-width:150px;
	float: left;
	text-align: center;
	font: bold 16px/16px Helvetica, Sans-Serif; 
}

#menu ul li a {
	text-decoration: none;
	line-height: 50px;
	display: block;
	color: white;
	back: #000099;
	text: none;
	text-align: center;
}

#menu a:hover{
	background-color: yellow;
	color:green;
}

#firstlayer img {
  width:100%;
  height:auto;
  position: relative; 
}

#firstlayer h2 { 
   position: absolute; 
   top: 300px; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 28px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

h2 span.spacer {
   padding:0 5px;
}

#chefsearch h1 {
    color: black;
    float:left;
width:75%;
overflow:hidden;
    font: bold 28px/45px Helvetica, Sans-Serif; 
}

#restaurantsearch h1 {
    color: black;
    float:left;
	width:25%;
	overflow:hidden;
    font: bold 28px/45px Helvetica, Sans-Serif; 
}

#firstlayer #searchwrapper {
	position: absolute; 
   	top: 600px; 
   	left: 300px; 
  	width: 100%; 
	margin:0;
}

#firstlayer #searchwrapper span h1 {
color: white; 
   font: bold 28px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

h1 span.spacer {
   padding:0 5px;
}

