* {
	padding: 0;
	margin: 0;
}


body {
    background-color: white;
}

h1 {
    color: blue;
    text-align: center;
}

#menu {
	background-color: black;
	height: 50px;
}

#menu ul{
	margin: 0px;
	padding: 0px;
	float: right;
}

#menu ul li{
	list-style-type:none;
	min-width:150px;
	float: left;
	text-align: center;
}

#menu ul li a {
	text-decoration: none;
	line-height: 50px;
	display: block;
	color: white;
	back: #000099;
	text: none;
	text-align: center;
}

#menu a:hover{
	background-color: yellow;
	color:green;
}



